.login-logo, .register-logo {
    font-size: 28px;
}

.login-page{
    height: auto;
}

.main-header .logo {
    font-size: 12px;
}

.table{
    font-size: 12px;
    margin-bottom: 10px;
}

.table thead tr th{
    background-color: #ccc;
    color: #000;
    border-bottom: 2px solid #999;

}

.table tbody tr td{
    padding: 5px;
}

.table > thead > tr:first-child > th {
    background-color: #eee;
    border-bottom: 0px;
}

.required{
    color: #ff0000;
}

.dropdown-menu {
    box-shadow: 1px 1px 1px #333;
    border-color: #ddd;
    background-color: #eee;
}

.bootstrap-timepicker-widget table td input {
    width: 50px;
}